body{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* border: solid 12px #EA2B1F !important; */
    /* justify-content: center; */
    /* align-items: top; */
  }


  

  /* .header{
    margin-bottom: 200px;
  } */

  /*看狀況使用*/
  .full_size_image{
  width:100%;
}
.attribution_card{
    text-align: center;
    width: 100%;
    flex-wrap: wrap;
    margin-top: 5%;
    min-width:60rem;
    margin-bottom: 10%;
    display: table;
}
.attribution_overview{
    text-align: center;
    width: 100%;
    flex-wrap: wrap;
    display: flex;
}
.attribution_left{
    position : relative ; 
    height: 1px;
    bottom:0;
    width: 30%;
    float: left;
    display: flex;
    /* text-align: center; */
    justify-content: center; 
    /* align-items: center; */
}
.attribution_right{
    width: 70%;
    float: left;
    padding-right: 5%;
    padding-left: 2%;
}
.intro{
  text-align: center;
  margin-left: 250px;
  margin-right: 250px;
}

/* .person{
    height: auto;
    padding: auto;
} */
.image{
    width: 100%;
    height: 60%;
}
.person_img{
    width: 60%;
    height: auto;
}



h1{
    color:#EA2B1F;
    font-weight:bolder;
    font-size:70px !important;
    padding-top:100px;
    padding-bottom:100px;
}


p{
  color:#390099;
  font-weight: 500;
  font-size:30px ;
  padding: left 30% right 30%;
}


.btn-primary{
  width: 70%;
  height: auto;
  background-color:#FFCAE7 !important;
  border:#FFF985 solid 5px !important;
}

.button_floating{
    height:100%;
}
.nav_control{
    width:100%;
    white-space:nowrap;
    box-shadow: 0 1px;
    padding-bottom:1%;
    display:table;
    /* text-decoration: underline; */
    /* margin-bottom:5%; */
}
.nav_control:hover{
    cursor:pointer;
    background-color: #EA2B1F;
}
.attribution_nav{
    transition: 0.3s;
    position: absolute;
    background-size:130%;    /*cover/ auto / contain*/
    background-position: center top;/*left  center */
    /* background-attachment: /*scroll / fixed / local; */
    /* width: 100%; */
    /* display:table; */
    background-repeat: no-repeat;
    padding-top: 15%;
    padding-bottom: 5%;
    padding-left: 18%;
    padding-right: 15%;
}
.attribution_nav_content{
    text-align: left;
    display: table;
}
.title_label{
    background-size:100% 100%;    /* cover/ auto / contain*/
    background-position: left; /*left  center*/
    /* width: 100%; */
    background-repeat: no-repeat;
    color:#FFFFFF;
    margin: 0;
    display:table;
    padding: 4% 20%;
    /* margin: 10% 10%; */
}
.title-label-div{
    /* float */
    display:table;
    margin-bottom: 5%;
}
.card{
    width: 100%;
    border:#FFF985 solid;
    background-color: antiquewhite;
    border-radius: 2rem;
    border-width:0.3rem;
    padding: 2%;
    display: flex;
    flex-direction: row;
    margin-bottom: 7%;
    /* height: 20rem; */
}
.card_left{
    width: 30%;
    /* float:left; */
    /* display: flex; */
    /* height: 100%; */
    height:0;
    padding-bottom :30%;
    position: relative;
}
.card_right{
    width: 70%;
    height: 100%;
    /* float:left; */
    /* display: flex; */
}
.card_img{
    width :100%;
    height:100%;
    position: absolute;
    top:0;
    left:0;
    object-fit: cover;
    object-position: center top;
    overflow: hidden;
    border-radius:20%;
}
.card_title{
    display: flex;
    flex-direction: row;
}
.card_name{
    font-size: 2.2vw;
    width:50%;
    font-weight: bolder;
    color: #AA2B1F;
    font-family: Papyrus, fantasy;
    margin-left:10%;
    margin-right:10%;
    white-space:nowrap;
}
.card_icon_list{
    width: 30%;
    text-align: left;
}
.card_icon{
    width :30%;
    /* height:100%; */
    /* position: absolute; */
    top:0;
    left:0;
    object-fit: cover;
    object-position: center top;
    overflow: hidden;
    /* border-radius:20%; */
    
}
.card_content{
    font-size: 1.5vw;
}

/* .loading{
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  left: 0%;
  top: 0%;
  align-items: center;
  z-index: 9999;
} */

