body{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* border: solid 12px #EA2B1F !important; */
    /* justify-content: center; */
    /* align-items: top; */
  }


  

  /* .header{
    margin-bottom: 200px;
  } */

  /*看狀況使用*/
  .full_size_image{
  width:100%;
}
.attribution_card{
    text-align: center;
    width: 100%;
    flex-wrap: wrap;
    margin-top: 5%;
    min-width:60rem;
    margin-bottom: 10%;
    display: table;
}
.attribution_overview{
    text-align: center;
    width: 100%;
    flex-wrap: wrap;
    display: flex;
}
.attribution_left{
    height: 100%;
    width: 30%;
    float: left;
    display: flex;
    text-align: center;
    justify-content: center; 
    align-items: center;
}
.attribution_right{
    width: 70%;
    float: left;
}
.intro{
  text-align: center;
  margin-left: 250px;
  margin-right: 250px;
}

/* .person{
    height: auto;
    padding: auto;
} */
.image{
    width: 100%;
    height: 60%;
}
.person_img{
    width: 60%;
    height: auto;
}



h1{
    color:#EA2B1F;
    font-weight:bolder;
    font-size:70px !important;
    padding-top:100px;
    padding-bottom:100px;
}


p{
  color:#390099;
  font-weight: 500;
  font-size:30px ;
  padding: left 30% right 30%;
}


.btn-primary{
  width: 70%;
  height: auto;
  background-color:#FFCAE7 !important;
  border:#FFF985 solid 5px !important;
}

.button_floating{
    height:100%;
}
.nav_control{
    width:100%;
    /* margin-bottom:5%; */
}
.attribution_nav{
    background-size:100% 100%;    /*cover/ auto / contain*/
    background-position: center;/*left  center */
    /* background-attachment: /*scroll / fixed / local; */
    /* width: 100%; */
    display:table;
    /* background-repeat: no-repeat;
    color:#FFFFFF;
    margin: 0; */
}
.attribution_nav_content{
    margin-top: 15%;
    margin-bottom: 0;
    margin-left: 15%;
    margin-right: 0;
    text-align: left;
}
.title-label{
    background-size:100% 100%;    /* cover/ auto / contain*/
    background-position: left; /*left  center*/
    /* width: 100%; */
    background-repeat: no-repeat;
    color:#FFFFFF;
    margin: 0;
    display:table;
    padding: 4% 20%;
    /* margin: 10% 10%; */
}
.title-label-div{
    /* float */
    display:table;
}

/* .loading{
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  left: 0%;
  top: 0%;
  align-items: center;
  z-index: 9999;
} */

