body{
/*   height: 100%; */
  margin: 0;
  background-color: #F2CCC3 !important;
  /* border: solid 12px #EA2B1F; */
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: top; */
  /* margin:0px; */
  font-family: "Lucida Handwriting";
}

#navbar{
    position: fixed;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    transition: top 300ms ease;
    margin-bottom: 200px;
  }
  #navbar.header-hide{
    top: -100px;
  }

.main-bg-color{
    background-color:#900902;
}

ul{
    list-style-type: none;
    padding:0px;
}

li a{
    display:block;
    padding:10px;
    text-decoration: none;
    font-size:1.5rem;
    color:#ffcae7;
    font-weight: 800;
    text-align: center;
    /* margin-left:50px; */
}
.drop{
    width: 25px;
  }
.brand{
    width: 100%;
    height: auto;
  /* margin: 30px; */
  /* height:10vh; */
    float:left;
}

/* Dropdown Button */
.dropbtn {
  background-color: #900902;
  color: #ffcae7;
  padding: 16px;
  font-size: 1.5rem;
  border: none;
  cursor: pointer;
  font-family: monospace ;
}

/* Dropdown button on hover & focus */
.dropbtn:hover {
  background-color: #EA2B1F;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    /* margin-top: 35px; */
}

.nav {
    /* width: 80%-1rem; */
    float: left;
    /* position: relative;
    vertical-align:middle; */
}

.logo {
    position: relative;
    display: inline-block;
    max-width: 12rem;
    min-width: 8rem;
    width: 20%;
    /* height: auto; */
    /* margin: 1%; */
    /* float: left; */
    /* margin-top: 35px; */
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #900902;
  min-width: 100%;
  box-shadow: 0px 8px 16px 0px #FFCAE7;
  z-index: 1;
}
/* float: right;position:relative;
position:absolute ;right:0; */
.a-right {
    margin-right: 0;
    right:0;
}
/* Links inside the dropdown */
.dropdown-content a {
  color: #FFF985;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-family: monospace ;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #EA2B1F;
    color: #FFF985;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

.maindiv{
    margin-top:0;
    width: 100%;
    height: auto;
    justify-content: center !important;
    text-align: center;
    /* background-color: #F2CCC3; */
}

.centerdiv{
    /* min-width: 1080px; */
    width: auto;
}
.button_floating{
    /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); */
    transition: 0.5s;
}

.button_floating:hover{
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    transform: translate(-5px,-5px);
    background-color: #EA2B1F;
}

/* .wrapper{
  min-height: 100%;
  margin-bottom: -50px;

}

.content{
  padding-bottom: 50px;
}

.footer{
  width: 100%;
  height: auto;
  position: absolute;
  bottom: 0;
  background-color: #900902;
} */

.blank200{
  width: 100%;
  height: 200px;  
}

.hamBar{
  display: none;
  align-items: center;
  justify-content: right;
  float: right;
  position: absolute;
  top: 35%;
  right: 5%;
}

.hamBar span{
  opacity: 0;
  width: 1px;
  height: 1px;
  display: block;
  overflow: hidden;
}

#menu_control{
  position: absolute;
  z-index: 2;
}

/* @media all and (max-width:1500px) {
  .dropbtn{
    display: none;
    position: absolute;
    bottom:0;
    left: 0;
    right: 0;
    flex-direction: column;
    transform:translateY(100%);
  }

  .hamBar{
    display: flex;
  }

  .nav{
    width: 100%;
    height: calc(100vh - 200px);
    background-color: #900902;
    position: absolute;
    top: 200px;
    left: 0;
    right: 0;
  }

  .nav a{
    display: block;
  }

  #menu_control:checked ~ .nav{
    top: 0;
  }
} */
.dropdown_rwd{
    display: none;
}
@media all and (max-width:1332px) {
    .dropdown{
        display: none;
    }
    .dropdown_rwd{
        display: block;
        /* margin-right: 0; */
    }
    body{
        font-size: 0.5em;
    }
}