body{
/*   height: 100%; */
  margin: 0;
  background-color: #F2CCC3 !important;
  /* border: solid 12px #EA2B1F; */
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: top; */
  /* margin:0px; */
}



.main-bg-color{
    background-color:#900902;
}

ul{
  list-style-type: none;
  padding:0px;
  
  
  
}




li{
  float:left;
  

  /* border-right:5px solid #ea2b1f; */
}

li a{
  display:block;
  padding:10px;
  text-decoration: none;
  font-size:30px;
  color:#FFF985;
  font-weight: 800;
  text-align: center;
  /* margin-left:50px; */
  
  
}




.brand{
    height: 100%;
    width: 100%;
  /* margin: 30px; */
  /* height:10vh; */
    float:left;
}




/* Dropdown Button */
.dropbtn {
  background-color: #900902;
  color: #FFF985;
  padding: 16px;
  font-size: 25px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #EA2B1F;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    /* margin-top: 35px; */
}
.nav {
    
    height: 100%;
    /* position: relative; */
    /* vertical-align:middle; */
    float: right;
}
.logo {
    position: relative;
    display: inline-block;
    width: 20%;
    margin: 1%;
    /* float: left; */
    /* margin-top: 35px; */
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #900902;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px #FFCAE7;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: #FFF985;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-family: monospace ;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #EA2B1F}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

.maindiv{
    margin-top:0;
    width: 100%;
    height: auto;
    justify-content: center !important;
    text-align: center;
    /* background-color: #F2CCC3; */
}

.centerdiv{
    /* min-width: 1080px; */
    width: auto;
}
.button_floating{
    /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); */
    transition: 0.5s;
}

.button_floating:hover{
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    transform: translate(-5px,-5px);
    background-color: #EA2B1F;
}

/* .wrapper{
  min-height: 100%;
  margin-bottom: -50px;

}

.content{
  padding-bottom: 50px;

}

.footer{
  width: 100%;
  height: auto;
  position: absolute;
  bottom: 0;
  background-color: #900902;
} */