body{
    height: 500%;
}
#map{
    position: fixed;
    width: 15%;
    right: 2%;
    transition: 1s;
    z-index: 99;
}
#map:hover #go_top{
    opacity: 1;
}
#map:hover #map_icon{
    opacity: 0;
}
#map:hover #epa{
    opacity: 0;
}
#go_top{
    position: absolute;
    /* display: block; */
    width: 98%;
    bottom: 0%;
    right: 2%;
    opacity: 0;
    transition: 0.5s;
}
#map_icon{
    position: absolute;
    /* display: block; */
    width: 100%;
    bottom: 2%;
    right: 2%;
    transition: 0.5s;
}
#epa{
    position: absolute;
    width: 17%;
    transition: 0.5s;
}
#page5_epa{
    --rotate:0deg;
    position: absolute;
    width: 17%;
    opacity: 0;
    -moz-transform:rotate(var(--rotate));
    -webkit-transform:rotate(var(--rotate));
    -o-transform:rotate(var(--rotate));
    -ms-transform:rotate(var(--rotate));
    transform:rotate(var(--rotate));
}
.page{
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center; 
    align-items: center; 
    top: 200%;
    height: 100%;
    flex-wrap: wrap;
}
.white_background{
    position: absolute;
    background-color: #ffffffc0;
    width: 100%;
    font-size: calc(2vh + 1em);
    padding: calc(6vh + 0.2em) calc(6vh + 0.2em);
    z-index: 10;
}
.top_block{
    top: 0;
}
.typesetting_block{
    display: flex;
    position: relative;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center; 
    align-items: center;
}
#bottomleft{
    position: fixed;
    bottom: -100%;
    left: 0;
    width: 30%;
    padding-bottom: 30%;
    transition: 1.0s;
    /* overflow: hidden; */
}
#page_12_content{
    position: absolute;
    left: 10%;
    font-size: calc(2vh + 1em);
    width: calc(20vh + 40%);
}
.learn_more_title{
    position: relative;
    margin-top:3%;
    margin-bottom:3%;
}
.learn_more{
    position: relative;
    margin-left: 5%;
    cursor: pointer;
    color: #f2e2d2;
    margin-top:3%;
    margin-bottom:3%;
    display: flex;
    align-items: center;
}
.learn_more_content{
    display: none;
    margin-left: 5%;
    font-size: calc(2vh + 0.5em);
}
.bottomleft{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 30%;
    padding-bottom: 30%;
    /* overflow: hidden; */
}
.bl-background{
    position: absolute;
    bottom: -40%;
    left: -20%;
    width: 120%;
    z-index: 0;
}
.illustration{
    position: absolute;
    z-index: 1;
}
.triangle_to_right{
    border-top: calc(0.6vh + 0.3em) solid transparent;
    border-bottom: calc(0.6vh + 0.3em) solid transparent;
    border-left: calc(1.4vh + 0.7em) solid #f2e2d2;
    display: inline-block;
    margin-right: 1%;
}
.triangle_to_down{
    border-left: calc(0.6vh + 0.3em) solid transparent;
    border-right: calc(0.6vh + 0.3em) solid transparent;
    border-top: calc(1.4vh + 0.7em) solid #f2e2d2;
    display: inline-block;
    margin-right: calc(1% + 0.2vh + 0.1em);
}
#team_name{
    display: flex;
    width: 70%;
}
#team_name_2{
    display: flex;
    width: 70%;
}
#team_logo{
    display: flex;
    width: 55%;
}
#team_logo_2{
    display: flex;
    width: 55%;
}
#page_13{
    z-index: 10;
}
#page_14{
    z-index: 9;
}
#earth{
    position: absolute;
    width: 50%;
    overflow: hidden;
    object-fit:contain;
    object-position: center center;
    transition: 1.0s;
}
#map_of_world{
    position: absolute;
    width: 80%;
}
#page5-role1{
    width: 40%;
    /* height: 40%; */
    bottom:6%;
    left:2%;
    -moz-transform:scaleX(-1);
    -webkit-transform:scaleX(-1);
    -o-transform:scaleX(-1);
    transform:scaleX(-1);
}
#page5-role2{
    width: 30%;
    /* height: 40%; */
    bottom:6%;
    left:60%;
}
#page5-role3{
    width: 30%;
    /* height: 40%; */
    bottom:40%;
    left:35%;
}
.first_page{
    opacity: 0;
    display: flex;
    width: 100%;
    height: calc(var(--nav_height));
}
.background{
    --nav_height:0px;
    width: 100%;
    height: calc(100vh - var(--nav_height));
}
.stop {
    animation-play-state: paused;
}
@keyframes heart-burst {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 100%;
  }
}
@media all and (max-aspect-ratio:1/1){
    #map{
        width: 30%;
    }
}