h1{
    color:black;
    font-size: 120px !important;
    text-align: center;
    text-shadow: 0.02em 0.02em #AAAAAA;
    background-color: #fffff0;
    font-family: "Lucida Handwriting";
}

hr{
    color:#900902;
    height:10px;
    border: 5px solid #900902;
    padding-top:0px;
    margin-left:100px ;
    margin-right:100px ;
    
}


.week{
    display: flex;
    /* align-self: left; */
    width: 100%;
}

.week_content{
    width: 50%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top:5%;
    word-wrap:break-word;
}

.word_content{
    font-size: 30px;
    word-wrap:break-word;
}

.title_content{
    font-size:50px;
}