body{
    margin: 0;
    background-color: #F2CCC3 !important;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* border: solid 12px #EA2B1F !important; */
    /* justify-content: center; */
    /* align-items: top; */
  }


  .blank{
    margin-top:200px;
    margin-bottom:200px;
  }


  .header{
    width:100%;
    height:200px;
    display:block;
    font-size: 30px;
    background-color:#900902; 
  }

  .out{
    background-color: #FFFFF0;
    border: solid 20px #AC6E52;
    margin-right:40px;
    margin-left: 180px;
    border-radius:20px;
    height:1200px;
    
  }

  h1{
    color:#EA2B1F;
    font-size: 120px !important;
    text-align: center;
    text-shadow: 0.05em 0.05em #900902;
    background-color: #fffff0;
  }




  hr{
    color:#900902;
    height:10px;
    border: 5px solid #900902;
    padding-top:0px;
    margin-left:100px ;
    margin-right:100px ;
    
  }


  .mid{
    width:20%;
    /* margin-top:200px; */
    /* align-content: center; */
    /* 這為啥不能用啊==害我只能用padding left喬（.midbutton{　margin-left:490px;） */
    
  }


  .midbutton{
    font-size:50px;
    background-color: #FFFFF0;
    color:#EA2B1F;
    border-radius: 1%;
    /* border: 0cm; */
    width:40%;
    text-align:left;
    margin-left:490px;
    border:0px;
    margin-bottom:40px;
    border-radius: 14px;
    padding: 10px;
  }

  .midbutton:hover {
    background-color: #FFCAE7;
  
  }

  .top{
    /* padding-bottom:20px; */
    align-content:left;

  }

  .toplabel1{
    margin-left: 200px;
  
  }

  .toplabel{
    margin-top: -35px;
    padding:10px;
    font-size:40px;
    border:0px;
    background-color: #764028;
    color:white;
    border-radius: 14px;
    width:auto;
     
  }

  .toplabel:hover {
    background-color: #B86B3D;
  }

  .left{
    width:20%;
    align-content: left;
  }

  .leftlabel{
    width:180px;
    margin-left:20px;
    margin-top:30px;
    font-size:40px;
    text-align: left;
    padding-left:15px;
    border:0px;
    position: relative; /* 當滑鼠經過超連結時，超連結往右下位移1像素 */
    right: 20px;
    
  }

  .leftlabel:hover {
    position: relative; /* 當滑鼠經過超連結時，超連結往右下位移1像素 */
    right: 0px;
  }

  .leftlabel1{
    background-color: #f85c70;
  }

  .leftlabel2{
    background-color: #05e0e9;
  }

  .leftlabel3{
    background-color: #c8b3ee;
  }

  .leftlabel4{
    background-color: #ff9a5c;
  }

  .leftlabel5{
    background-color: #c9e265;
  }

  .leftlabel6{
    background-color: #ffde59;
  }

  

  /* li{
    display: flex;
  } */

  .output{
    align-items: center;
    justify-self: center;
    text-align: center;
  }