h1:not(.red_title){
    color:black;
    font-size: 120px !important;
    text-align: center;
    text-shadow: 0.02em 0.02em #AAAAAA;
    background-color: #fffff0;
    font-family: "Lucida Handwriting";
}

.week{
    display: flex;
    /* align-self: left; */
    width: 100%;
    margin-top: 3%;
}

.week_content{
    width: 50%;
    height: 0;
    padding-bottom: 50%;
    /* padding-left: 5%;
    padding-right: 5%; */
    /* padding-top:5%;
    padding-bottom: 5%; */
    word-wrap:break-word;
    position: relative;
}
/* 1 em=>vw*(1/60*100) in 60rem */
.word_content{
    font-size: 1.67vw;
    word-wrap:break-word;
    padding-left:5%;
}

.title_content{
    font-size: 3.33vw;
}

.final_exam{
    color:#EA2B1F;
    font-size: 1.67vw;
}

.square{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding:5% 5% 5% 5%;
}
.center_img{
    width: 100%;
    height: 100%;
    object-fit:contain;
    object-position: center center;
    overflow: hidden;
}
.carousel-item-next{
    transform:translateX(100%) !important;
    /* transition: 0.5s !important; */
    animation: change_img;
    animation-duration: 0.61s;
    animation-timing-function: ease-in-out;
}

@keyframes change_img{
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(0%);
    }
}
.carousel-item-prev{
    transform:translateX(-100%) !important;
    /* transition: 0.5s !important; */
    animation: change_img2;
    animation-duration: 0.61s;
    animation-timing-function: ease-in-out;
}

@keyframes change_img2{
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(0%);
    }
}
.carousel-control-prev-icon{
    background-color: #900902;
    border-color: #EA2B1F;
}
.carousel-control-next-icon{
    background-color: #900902;
}
.carousel{
    width: 100%;
    height: 100%;
    object-fit: auto;
    object-position: center center;
    overflow: hidden;
}
.carousel-item{
    height: 100%;
}
.carousel-inner{
    height: 100%;
    position: relative;
}
@media all and (max-width:60rem) {
    .word_content{
        font-size: 1em;
    }
    .title_content{
        font-size: 2em;
    }
    .final_exam{
        font-size: 1em;
    }
}