h1{
    color:black;
    font-size: 120px !important;
    text-align: center;
    text-shadow: 0.02em 0.02em #AAAAAA;
    background-color: #fffff0;
    font-family: "Lucida Handwriting";
}

hr{
    color:#900902;
    height:10px;
    border: 5px solid #900902;
    padding-top:0px;
    margin-left:100px ;
    margin-right:100px ;
    
}


.week{
    display: flex;
    /* align-self: left; */
    width: 100%;
    margin-top: 3%;
}

.week_content{
    width: 50%;
    height: 0;
    padding-bottom: 50%;
    /* padding-left: 5%;
    padding-right: 5%; */
    /* padding-top:5%;
    padding-bottom: 5%; */
    word-wrap:break-word;
    position: relative;
}

.word_content{
    font-size: 1.5rem;
    word-wrap:break-word;
    padding-left:5%;
}

.title_content{
    font-size:2rem;
}

.final_exam{
    color:#EA2B1F;
    font-size:4vw;
}

.square{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding:5% 5% 5% 5%;
}
.center_img{
    width: 100%;
    height: 100%;
    object-fit:contain;
    object-position: center center;
    overflow: hidden;
}
.carousel-item-next{
    transform:translateX(100%) !important;
    /* transition: 0.5s !important; */
    animation: change_img;
    animation-duration: 0.61s;
    animation-timing-function: ease-in-out;
}

@keyframes change_img{
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(0%);
    }
}
.carousel-item-prev{
    transform:translateX(-100%) !important;
    /* transition: 0.5s !important; */
    animation: change_img2;
    animation-duration: 0.61s;
    animation-timing-function: ease-in-out;
}

@keyframes change_img2{
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(0%);
    }
}
.carousel-control-prev-icon{
    background-color: #900902;
    border-color: #EA2B1F;
}
.carousel-control-next-icon{
    background-color: #900902;
}
/* carousel-item active carousel-item-start
carousel-item carousel-item-next carousel-item-start active */
/* 
carousel-item active carousel-item-start
carousel-item carousel-item-next carousel-item-start */