.main_div{
    width: 100%;
    position: relative;
    display: inline-block;
}
.left_div{
    width: 15%;
    float: left;
    font-family: 'refsan';
}
.right_div{
    width: 85%;
    float: left;
    overflow: auto;
    min-height: 60em;
    max-height: 100%;
    height: 100%;
    /* font-family: 'comic'; */
    /* font-family: 'lhandw'; */
    /* font-family: 'papyrus'; */
    font-family: 'refsan';
    font-weight: 900;
}
.page_tag{
    cursor: pointer;
    text-align: center;
    font-size: 1vw;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;
    margin-bottom: 10%;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 5%;
    padding-bottom: 5%;
}
.content{
    width: 90%;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
    display: none;
    margin:0 auto;
    font-size: 1.2em;
}
p{
    margin-left:6%;
}
h1{
    margin-bottom: 5%;
    width: 100%;
    text-align: center;
}
h2{
    margin-bottom: 5%;
    width: 100%;
    text-align: center;
}
.bracket{
    counter-reset: item
}
ul li{
    list-style-type:disc;
    margin-left:2%;
}
.bracket>li,.same>li{
    display: block;
}
.bracket>li:before { 
    /* counter-reset: item; */
    content: "(" counters(item, ".") ") ";
    counter-increment: item;
}
.same-counter{
    counter-reset: item_same;
}
.same>li:before { 
    content: "(" counters(item_same, ".") ") ";
    counter-increment: item_same;
}
.normal>li{ 
    margin-left: 3%;
}
.marge{
    width:100%;
    height:var(--width);
}
table{
    margin-left:6%;
    margin-bottom: 1em;
    /* width:100%; */
    
}
table tbody tr td,table thead tr th{
    padding-left:1em;
    padding-right:1em;
    padding-top:0.5em;
    padding-bottom:0.5em;
    width: auto;
    font-size: 1.2em;
    border-collapse: collapse;
}
.full_size_image{
    width:100%;
}
.normal_table{
    border-style: solid;
}
.normal_table>thead{
    background-color: crimson;
}
.line_table tbody tr td,.line_table thead tr th{
    border: solid black 0.1em;
}
li{
    margin-bottom: 1em;
}
.half_div{
    width: 50%;
    display : block;
    float:left;
    padding-left:1%;
    padding-right:1%;
    padding-top:0.5%;
    padding-bottom:0.5%;
}
.align-center{
    text-align: center;
}
.table-center{
    margin-left:auto; 
    margin-right:auto;
}
/* .normal_table>tbody{
    background-color: white;
} */
/* table tbody tr:nth-child(odd) {

} */